<section data-ng-controller="AdminController" data-ng-init="find()">
    <h1>Users</h1>
    <ul class="list-group">
        <li data-ng-repeat="user in users" class="list-group-item">
            <div>

                <button type="button" class="btn btn-success" style="display: inline-block;float: right;margin: 5px"><i class="glyphicon glyphicon-ok" ></i></button>
                <button type="button" class="btn btn-danger" style="display: inline-block;float: right;margin:5px" ng-click="delete(user)"><i class="glyphicon glyphicon-remove" ></i></button>
               <strong><h4> <a data-ng-href="#!/reqs/{{user._id}}" data-ng-bind="'{{user.firstName}}'+',{{user.lastName}}'"></a></h4></strong>
            <br>
            <p data-ng-bind="user.created | date:'medium'"></p>
            <br>
            <p data-ng-bind="user.username"></p>
           </div>
        </li>
    </ul>
    <div data-ng-hide="!users || users.length">
        No useres yet, why don't you <a href="/#!/users/create">create one</a>?
    </div>
</section>
